{% capture devnull %}
    {% assign item = include.item %}
{% endcapture %}{% assign devnull=nil %}{%
if item.width %}Ширина: {{ item.width }} см
{% endif %}{% if item.depth %}Глубина: {{ item.depth }} см
{% endif %}{% if item.height %}Высота: {{ item.height }} см
{% endif %}{% if item.legs_color %}Цвет ножек: {{ item.legs_color | downcase }}
{% endif %}{% if item.foam %}Толщина поролона: {{ item.foam }} см
{% endif %}{% if item.weight %}Вес: {{ item.weight }} кг
{% endif %}{% if item.content %}
{{ item.content }}Видеообзор: {% endif %}{% if item.video %}
<br><br><a href="{{ item.video }}" target="_blank">тут</a>{% endif %}